body {
    background-color:MistyRose;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
   width: 60%; 
   margin: auto;
   text-align: center;
}

section {
    border: 1px dashed black;
    margin-bottom: 10px;
}

h1 {
    font-size: 2em;
    color: lightcoral;
}

input {
    display: block;
    margin: 10px auto;
    width: 200px;
    height: 20px;
    border-radius: 12px;
    border: 1px solid lightslategray;
}

button {
    margin-bottom: 6%;
    padding: 10px 20px;
    background-color: PapayaWhip;
    color: black;
    font-family: inherit;
    border-radius: 14px;
    border: none;
}

button:hover {
    background-color: black;
    color: papayawhip;
}

.red {
    color:red;
}

.green {
    color: green;
}